<div class="rich-text rich-text--full-width">
  <div class="multicolumn-card__info">
    <h2> {{ block.prodct.title }} </h2>
  </div>
  <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop">
  	
    
    <li class="multicolumn-list__item grid__item center">
    	<div class"multicolumn-card content-container">
      	  <div class="multicolumn-card__info">
            <img src="{{ block.settings.image | img_url: 'master' }}" style="width: 200px;" />
           	<p>{{ block.settings.block-text }} </p>
          </div>
      	</div>
    </li>


  </ul>
</div>

