<div class="rich-text rich-text--full-width">
  <div class="multicolumn-card__info">
    <h2>Liquid basics</h2>
  </div>
  <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop">
  	<li class="multicolumn-list__item grid__item center">
    	<div class"multicolumn-card content-container">
      	  <div class="multicolumn-card__info">
            <h3> </h3>
            <div class="rte">
            	
            </div>
          </div>
      	</div>
    </li>
  </ul>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

