<div class="rich-text rich-text--full-width">
  <div class="multicolumn-card__info">
    <h2> {{ section.settings.title }} </h2>
  </div>
  <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop">
  	<li class="multicolumn-list__item grid__item center">
    	<div class"multicolumn-card content-container">
      	  <div class="multicolumn-card__info">
            <img src
            <h3> </h3>
            <div class="rte">
            	<p> </p>
            </div>
          </div>
      	</div>
    </li>
  </ul>
</div>

{% schema %}
  {
    "name": "Liquid Basics Example",
    "settings": [{
		"type": "text",
  		"id": "title",
  		"label": "Title",
 		"default": "Featuring: {{ product.title }}"
}]
  }
{% endschema %}

